*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
    align-items: center;
    max-width: 100vw;
}
.logo {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    margin-left: 30px;
       }
nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
  }
  
  nav ul li{
  cursor: pointer;

}
.uname{
    background-color: aliceblue;
    border-radius: 10px;
    color: rgb(45, 131, 211);
    font-weight: 500;
    padding: 10px 15px;
    text-align: center;
    margin-right: 30px;
}
.hero{
  display: flex;
  height: 80vh; 
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
 }
 
.left {
  flex: 1;
  max-width: 45%;
}

.left h1 {
  font-size: 2.5rem;
  color:rgb(52, 52, 52);
  margin-bottom: 20px;
}
.left h1 span {
  color: #2d83d3;
}

.left p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #444;
}
.left button{
  background-color: #68b6ff;
  color: white;
  margin-top: 20px;
  padding: 20px 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.right {
  flex: 1;
  max-width: 40%;
  }

.right img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}